<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <% include ../Partials/head %>
</head>

<body>
    <header>
        <% include ../Partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 class="display-3">Bonjour, p7!</h1>
            <p class="lead">Nous sommes fier d'etre promo 7. Promo 7 a des valeurs fondamental qu'on va jamais jouer avec ces valeurs. Nous sommes unie. Vivre Promo7</p>
            <hr class="my-4">
            <p>Dans promo 7 il y a environ 25 apprenant. Ils sont de different milieu de la societé. Ils sont souvent sourient et serieux.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Joinez nous</a>
            </p>
        </div>

    </main>

    <footer>
        <% include ../Partials/footer %>
    </footer>
</body>

</html>
